@media(max-width:1199px){
    /* custom css  */

    /* navbar  */


    /* banner wrapper  */
/*
    .banner_wrapper .banner-img{
        height:auto;
        width: 78%;
        top: -31px;
    
    }
*/
    /* about  */


    /* portfolio  */


}







@media(max-width:991px){
    /* custom css  */

    /* navbar  */


    /* banner  */
    
  
    /* about  */


    /* portfolio  */


}

@media(max-width:767px){
    /* custom css  */
    
    /* navbar  */


    /* banner wrapper  */


    /* about  */


    /* portfolio  */


}

